.c-blog-post {
  padding: 1rem;
  padding-top: 5rem;
  height: 100%;
  margin: 0 auto;
  width: 65%;

  --inline-code-color: #825e00;
  --link-color: #433E0E;
}

ul > li > ul > li {
  margin-left: 1rem;
  margin-top: .4rem;
}

ul > li {
  margin-top: .5rem;
}

.c-blog-post__title {
  text-align: center;
  margin-top: 3rem;
}

.c-blog-post__content {
  padding: 1rem;
}

.c-blog-post__content h1, h2, h3, h4, h5 {
  scroll-margin-top: 100px;
}

.c-blog-post__content p {
  padding-top: .6rem;
  line-height: 1.9rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.c-blog-post__content h2, 
.c-blog-post__content h3, 
.c-blog-post__content h4, 
.c-blog-post__content h5, 
.c-blog-post__content h6 {
  font-size: 1.8rem;
  margin-top: 2rem;
  padding-bottom: 0.7rem;
}

.c-blog-post__content a {
  color: var(--link-color);
  font-weight: bold;
}

.c-blog-post__back {
  text-align: right;
  width: 100%;
  display: block;
  margin-top: 1rem;
  font-style: italic;
  text-decoration: underline;
  color: var(--secondary-grey);
}


@media all and (max-width: 900px) {
  .c-blog-post {
    width: 80%;
  }
}

@media all and (max-width: 500px) {
  .c-blog-post__title {
    font-size: 1.7rem;
  }

  .c-blog-post {
    width: 95%;
  }
}

deckgo-highlight-code {
  margin: 1rem .5rem;
  font-size: 1.3rem;
}

hr {
  margin-top: 2rem;
}

code {
  color: var(--inline-code-color);
  padding: 0.2rem;
}