.c-tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.c-tags-container > .c-tags-container__tag {
  margin-left: .8rem;
  font-size: .8rem;
  cursor: pointer;
  margin-top: .5rem;
}

.c-tags-container > .c-tags-container__tag.is-active {
  background-color: var(--light-grey);
}

div img {
  width: 100%;
}