.c-about {
  max-width: var(--normal-section-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.c-about__title {
  align-self: flex-start;
}

.c-about__content {
  font-size: clamp(1.2rem, 0.5rem + 1.2vw, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.c-about-section {
  padding: 0 .5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  transform: translateX(1.5rem);
}

.c-about-section .is-important {
  font-size: inherit;
}

.c-about-section > h3 {
  align-self: flex-start;
  font-size: clamp(1.2rem, 0.4rem + 1.5vw, 3rem);
}

.c-about-section > p {
  padding: 0 1rem;
  line-height: 1.3;
}