.c-home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-home .c-home__desc {
  text-align: center;
}

.c-home .c-home__desc > p:first-child {
  font-size: 4rem;;
  letter-spacing: -1px;
}

.c-home .c-home__desc > p:last-child {
  font-size: 1.8rem;
  padding: 0 4rem;
  margin-top: 1rem
}

@media all and (max-width: 1270px) {
  .c-home .c-home__desc {
    margin-top: 3rem;
  }

  .c-home .c-home__desc > p:first-child {
    font-size: 3rem;;
  }

  .c-home .c-home__desc > p:last-child {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 1110px) {
  .c-home .c-home__desc > p:first-child {
    font-size: 2.7rem;;
  }

  .c-home .c-home__desc > p:last-child {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 750px) {
  .c-home .c-home__desc > p:first-child {
    font-size: 2.2rem;;
  }

  .c-home .c-home__desc > p:last-child {
    font-size: 1.1rem;
    padding: 0 2rem;
  }
}

@media all and (max-width: 424px) {
  .c-home .c-home__desc > p:first-child {
    font-size: 1.7rem;;
  }

  .c-home .c-home__desc > p:last-child {
    font-size: .9rem;
  }
}