.c-common {
  height: 100%;
  margin: 0 auto;
  max-width: calc(6rem + 60vw);
}

.c-common__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.c-common__content {
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.c-common__back {
  border-radius: 1rem;
  padding: 0.8rem;
  font-weight: bold;
  border: 3px solid var(--dark-blue-2);
  color: var(--dark-blue-2);
}