.c-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  background-color: beige;
  position: fixed;
  z-index: 2;

  --items-space: 1.5rem;
}

.c-header .c-header__title {
  transform: translateX(14vw);
  display: flex;
  align-items: center;
}

.c-header .c-header__nav {
  transform: translate(-9vw);
  display: flex;
  align-items: center;
  z-index: 1;
}

.c-header .c-header__list-container {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.c-header .c-header__list-container > .c-header__list-item {
  margin-right: var(--items-space, 1.5rem);
  font-size: 1.4rem;
  position: relative;
}

.c-header .c-header__list-container > .c-header__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 25%);
  right: calc(var(--items-space) / 2 * -1);
  background-color: grey;
  top: -10%;
}

.c-header__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.c-header__hamburger.c-header__hamburger--active > div:first-child {
  transform: translateY(0.6rem) rotate(45deg);
}

.c-header__hamburger.c-header__hamburger--active > div:nth-child(2) {
  opacity: 0;
}

.c-header__hamburger.c-header__hamburger--active > div:last-child {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.c-header__hamburger > div {
  height: .3rem;
  width: 100%;
  background-color: black;
  transition: transform .2s ease, opacity .1s ease;
}

/* .c-header .c-header__list-container > .c-header__list-item--active {} */

@media all and (max-width: 850px) {
  .c-header .c-header__list-container > .c-header__list-item {
    font-size: 1.3rem;
  }

  .c-header .c-header__title {
    transform: translateX(8vw);
    font-size: 1.7rem;
  }

  .c-header .c-header__nav {
    transform: translateX(-5vw);
  }
}

@media all and (max-width: 700px) {
  .c-header .c-header__nav {
    transform: translateX(-2vw);
  }

  .c-header .c-header__list-container > .c-header__list-item {
    font-size: 1.1rem;
  }

  .c-header .c-header__title {
    transform: translateX(8vw);
    font-size: 1.5rem;
  }
}

@media all and (max-width: 550px) {
  .c-header .c-header__list-container {
    display: none;
  }
  
  .c-header .c-header__nav {
    transform: translate(-7vw);
  }
}

@media all and (min-width: 550px) {
 .c-header__hamburger {
   display: none;
 }
}