.c-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--header-height);
  background-color: var(--gray-1);
  position: fixed;
  z-index: 2;
  flex-wrap: wrap;
}

.c-header .c-header__title {
  display: flex;
  align-items: center;
}

.c-header .c-header__nav {
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.7rem);
}

.c-header .c-header__list-container {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.4rem;
}

.c-header .c-header__list-container > .c-header__list-item {
  position: relative;
  margin-top: 0;
}

.c-header .c-header__list-container :is(.c-header__list-item:hover a:not(.is-link), .c-header__list-item.is-active a) {
  color: var(--dark-blue-2);
  font-weight: bold;
  text-decoration: underline;
}

.c-header__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.c-header__hamburger > div {
  height: .3rem;
  width: 100%;
  background-color: black;
}

.c-header.is-hamburger-active .c-header__hamburger > div:first-child {
  transform: translateY(0.6rem) rotate(45deg);
}

.c-header.is-hamburger-active .c-header__hamburger > div:nth-child(2) {
  opacity: 0;
}

.c-header.is-hamburger-active .c-header__hamburger > div:last-child {
  transform: translateY(-0.8rem) rotate(-45deg);
}

@media all and (min-width: 550px) {
  .c-header__hamburger {
    display: none;
  }
}

@media not all and (min-width: 550px) {
  .c-header:not(.is-hamburger-active) .c-header__list-container {
    display: none;
  }

  .c-header .c-header__list-container {
    position: absolute;
    top: 100%;
    flex-direction: column;
    background: var(--gray-1);
    width: 100%;
    left: 0;
    padding: 2rem 0;
    height: min-content;
  }
}