.c-projects {
  height: 100%;
  padding-top: 5rem;
  width: 55%;
  margin: 0 auto;
}

.c-projects .c-projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-projects__content {
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.c-projects__back {
  background-color: khaki;
  border-radius: 1rem;
  padding: 0.8rem;
  font-weight: bold;
  border: .5px solid black;
}

@media all and (max-width: 1110px) {
  .c-projects {
    width: 65%;
  }
}

@media all and (max-width: 900px) {
  .c-projects__title {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 600px) {
  .c-projects {
    width: 75%;
  }

  .c-projects__title {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 600px) {
  .c-projects {
    width: 85%;
  }

  .c-projects__back {
    font-size: .9rem;
  }
}