.c-project {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  scroll-margin-top: 100px;
}

.c-project__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .4rem .6rem;
  background: var(--dark-blue-2);
  color: #fff;
}

.c-project__tags {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.c-project__tag {
  margin-right: .5rem;
  font-size: .9rem;
}

.c-project__tag--important {
  font-weight: bold;
}

.c-project__content {
  border: 3px solid var(--dark-blue-2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 1.3;
}

.c-project__content .is-important {
  font-size: inherit;
}

.c-project__desc-content {
  font-size: clamp(1.2rem, 0.5rem + 1vw, 1.5rem);
  padding: .7rem;
}

.c-project__desc-content :where(h2, h3, h4) {
  color: var(--dark-blue-1);
}

.c-project__desc-content :where(h2, h3, h4) .is-link {
  display: none;
}

.c-project__desc-content h2 {
  margin: .5rem 0;
}

.c-project__desc-content h2 ~ *:not(h2, ul) {
  padding-left: .3rem;
}

.c-project__desc-content h2 ~ h3 {
  margin: .4rem 0;
}

.c-project__desc-content h2 ~ h3 ~ *:not(h3, ul) {
  padding-left: .7rem;
}

.c-project__desc-content ul {
  padding-left: 2.5rem;
}

.c-project__desc-content p + p {
  margin-top: .7rem;
}

.is-link + br + .is-link {
  margin-top: 1rem;
}