.c-project {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  scroll-margin-top: 100px;
}

.c-project__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .4rem .6rem;
  background: var(--dark-blue-2);
  color: #fff;
}

.c-project__tags {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.c-project__tag {
  margin-right: .5rem;
  font-size: .9rem;
}

.c-project__tag--important {
  font-weight: bold;
}

.c-project__content {
  border: 3px solid var(--dark-blue-2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .7rem;
  line-height: 1.2;
}

.c-project__content .is-important {
  font-size: inherit;
}

.c-project__desc-content {
  font-size: clamp(1.2rem, 0.5rem + 1vw, 1.5rem);
}

.is-link + br + .is-link {
  margin-top: 1rem;
}