.c-work {
  display: grid;
  grid-template-areas:
      "t t t t"
      "s s y y"
      "b b b b"
      "b b b b"
      "p p p p";
  max-width: var(--normal-section-width);
  margin: 0 auto;
  gap: 3rem 1rem;
  scroll-margin-top: var(--header-height);

  --radius-corner: 5px;
  --padding-content: 1.2rem;
}

@media all and (max-width: 726px) {
  .c-work {
    grid-template-areas: "t" "s" "y" "b" "p";
  }
}

.is-stackoverflow {
  grid-area: s;
}

.is-youtube {
  grid-area: y;
}

.is-projects {
  grid-area: p;
}

.is-blog {
  grid-area: b;
}

.c-work__title {
  grid-area: t;
  justify-self: flex-start;
}

.c-work-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2.c-work-section__name {
  text-align: center;
  padding: 0.5rem;
  background: var(--gray-1);
  font-size: clamp(1rem, 1rem + 0.7vw, 2rem);
  border-radius: var(--radius-corner) var(--radius-corner) 0 0;
  color: var(--dark-blue-2);
}

.c-work-section__content {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.2rem, 0.5rem + 1.2vw, 1.5rem);
  line-height: 1.3;
  border-left: 3px solid var(--dark-blue-2);
  border-right: 3px solid var(--dark-blue-2);
  flex-grow: 1;
}

.c-work-section__content > p {
  padding: var(--padding-content) 0.3rem var(--padding-content) .7rem;
}

.c-work-section__button {
  font-size: clamp(1rem, 0.8rem + 1vw, 1.6rem);
  background-color: var(--dark-blue-2);
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border-radius: 0 0 var(--radius-corner) var(--radius-corner);
}

.c-work-section__button:hover {
  text-decoration: underline;
  text-decoration-color: var(--dark-yellow);
}

.c-samples {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
   */
  /* Using this so that the flex child takes the width of tis content. */
  /* Otherwise, since the default is `stretch`, the flex child would take the full width. */
  /* As a side note, setting `margin-right: auto` on each child container would work too. */
  /* align-items: flex-start;
  flex-grow: 1;
  gap: .8rem;
  */
  display: grid;
  grid-row-gap: .8rem;
  flex-grow: 1;
  grid-auto-rows: max-content;
  align-content: center;
  justify-items: flex-start;
  padding: var(--padding-content);
}

.c-samples__sample {
  transition: transform .3s;
}

.c-samples__sample:hover {
  transform: translateY(-3px);
}